html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFFEFC;
}
h1, h2, h3, h4, h5, h6, .navbar{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}
p, .header-btn{
	font-family: 'Open Sans', sans-serif;
}
h1{ 
	font-size: 1.75em;
}
h2{
	font-size: 1.7em;
}
h3{
	font-size: 1.17em;
}
h4, .navbar{
	font-size: 1.12em;
	text-transform: none;
	color: #6EC4DB;
}
h5{
	font-size: .83em;
}
h6{
	font-size: .75em;
}
p.lead{
	font-size: .95em;
	font-weight: 400;
	line-height: 1.7em;
}

/*HEADER & NAV */
header{
	box-shadow: 0px 12px 30px 1px rgba(176, 179, 180, .75);
}
.header-img{
	background-image: url(../img/header01.png);
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 100%;
  	height: 18em;
}
.header-logo{
	padding-top: 1.6em;
	height: 8em;
	display: block;
    margin-left: auto;
    margin-right: auto
}
.header-title{
	padding: 1.1em 0 0 0;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
	color: #2a2527;
	font-size: 3.25em;
}
.header-title-small{
	padding: 0 0 .6em 0;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	color: #2a2527;
	font-size: 1.75em;
}
.header-btn{
	text-align: center;
	font-size: 1.16em;
	text-transform: uppercase;
	font-weight: bold;
}
.header-link{
	padding: .5em;
	border: solid;
	border-radius: 10px;
	color: #2a2527;
}
.header-link:hover, .header-link:focus{
	/*background-color: #66AB8C;*/
	background-color: #4f7c24;
	border-color: #4f7c24;
	text-decoration: none;
	color: #2a2527;
}
.fa{
	padding: .5em !important;
	font-size: 1.25em !important;
}
.navbar-custom {
    background-color: #2a2527;
    letter-spacing: 1px;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 254, 252,.8);
}
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 254, 252,.8);
}
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item:focus .nav-link {
    color: #4f7c24;
}
.navbar-custom .nav-item.active .nav-link {
    color: #205B82;
}
/*dropdown*/
.navbar-custom .dropdown-menu {
    background-color: #2a2527;
}
.navbar-custom .dropdown-item {
    color: #FFFEFC;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #FFFEFC;
    background-color: rgb(79, 124, 36);
}
.navbar-custom .dropdown-item.active {
    color: #FFFEFC;
    background-color: rgba(250, 124, 146,.5);
}
.dropdown:hover .dropdown-menu{
	display: block;
}
/*toggler icon*/
.toggler-custom.navbar-toggler {
    border-color: #FFFEFC;
}
.toggler-custom .navbar-toggler-icon {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 254, 252, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.toggler-custom.navbar-toggler:hover {
    border-color: #58641d;
}
.toggler-custom .navbar-toggler-icon:hover {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102, 171, 140, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*FOOTER*/
.footer{
	margin-top: 3em;
	text-align: center;
	height: 4.25em;
	bottom: 0;
	padding-bottom: 1em;
	width: 100%;
	box-shadow: 0px -8px 30px 2px rgba(176, 179, 180, .75);
	background-color: #2a2527;
}
.footer .container p{
	padding-top: 1.25em;
	font-size: .75em;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	color: #FFFEFC;
}

/* BODYS*/
.wrapper {
    min-height: 100%;
    margin-bottom: -3em;
    padding-bottom: 3em;
}
.col-md-6.index, .col-md-6.about, .col-md-12.speakers, .col-md-6.location, .col-md-8.header, .col-md-12.register, .col-md-4.volunteer, .col-md-12.schedule, .col-md-12.session{
	margin-top: 3em;
}
/*homepage*/
.col-md-6.index{
	padding-right: 3em;
	padding-bottom: 3em;
	padding-left: 3em;
	text-align: justify;
}
.col-md-6.index p.lead, .col-md-12.about {
	padding-left: 2em;
	padding-right: 2em;
}

.right-side{
	border-left: 1px solid;
}
.icon{
	height: 7em;
	margin: 0 auto;
	display: block;
}
.announce{
	margin-top: 1em;
	margin-bottom: 1em; 
	text-align: center;
}

/*about*/
.col-lg-4.about, .col-md-6.about, .col-sm-12.about{
	padding-bottom: 2em;
}

blockquote {
    font-size: 1.45em;
    text-align: center;
    font-style: italic;
    width: 90%;
    height: relative;
    margin-top: 4em;
    padding: 40px 55px;
    line-height: 1.8;
    position: relative;
    color: #383838;
    background-color: rgba(32, 91, 130, .3);
    border-radius: 20px;
   	font-family: 'Shadows Into Light', cursive;
}

blockquote:before {
    font-family: serif; 
    display: block;
    padding-left: 25px;
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: .8em;
    display: block;
    margin-top: 5px;
    text-align: right;
}

blockquote cite:before {
    content: "\2014 \2009";
}

.italic{
	font-style: italic;
}
.imgabout{
	height: 18em;
}
/*schedule*/
table{
	font-family: 'Open Sans', sans-serif;
}
/*speakers*/
.circular-photo {
	height: 11em;
  	border-radius: 50%;
}
.circular-photo1 {
	height: 11em;
  	border-radius: 40%;
}
.row.keynote{
	padding-bottom: 2em;
	border-bottom: 1px solid;
}
.col-md-8.header{
	padding-bottom: 2em;
}
.speaker-big {
	font-size: 1.3em;
	line-height: 2em;
}

.col-md-4.speakers {
	text-align: right;
	padding-right: 6em;
}
.row.speakers-row{
	padding-top: 2em;
}

/*Tables*/
.tables-top{
	margin-top: 5em;
}
.tables-bottom{
	margin-top: 5em;
}
/*volunteer*/
.col-md-4.volunteer img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 11em;
	
}
.list-item{
 	font-family: 'Open Sans', sans-serif;
}
/*contact*/
.col-md-4.contact{
	margin-top: -4em;
}
.col-md-4.contact img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 11em;
}
/*register*/
.col-md-12.register{
	padding-bottom: 1em;
}

.row.register{
	margin-top: 6em;
	margin-bottom: 6em;
}

.register-btn{
	text-align: center;
	font-size: 1.16em;
	text-transform: uppercase;
    height: relative;
    margin: .25em 1em;
    padding: 3em 3em;
    width: 70%
    line-height: 1.8;
    position: relative;
    background-color: rgba(32, 91, 130);
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 10px 10px 5px grey;

}
.reg-link, .reg-link:hover{
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 1.2em;
}

.register-btn:hover{
	background-color: #4f7c24;

}

.closed {
	background-color: #4f7c24;
}
/*sponsor

/*.col-md-4.sponsor, .col-md-8-sponsor {
	
}*/
.col-md-3.sponsor, .col-md-8.sponsor{
	margin-top: 2em;
	padding-top: 1em;
 	padding-bottom: 1em;
}
/*.sponsor-lead{
	width: 80%;
    height: relative;
    margin: 0.6em .9;
    padding: 20px 10px;
    line-height: 1.8;
    position: relative;
    color: #383838;
    background-color: rgba(32, 91, 130, .3);
    border-radius: 20px;

}*/
.line{
	border-left: 1px solid;
}
.square-photo {
	height: 7em;
	display: block;
    		margin-left: auto;
    		margin-right: auto;

}
.square-photo1 {
	height: 4em;
	margin-top: 3em;
	display: block;
    		margin-left: auto;
    		margin-right: auto;	
}

 h3.sponsor-middle {
 	font-size: 1.4em;
 	padding-top: 1.3em;
 	text-align: center;
 }

/*performers*/
.performer{
	font-size: 1.17em;
	font-weight: bold;
	text-decoration: none;
	color: #2a2527;
}


.performer:hover{
	text-decoration: none;
}
figcaption.performer{
	margin-bottom: 1em;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
.perform{
	border-radius: 10%;
	box-shadow: 5px 5px 5px grey;
}

.collab{
	font-size: 1em;
	font-weight: normal;
	text-transform: none;
}
/*location*/
#map {
        width: 100%;
        height: 400px;
        background-color: #EBEFF1;
      }
/*lightbox on about*/
.ekko-lightbox-nav-overlay{
	z-index:1;
	position:absolute;
	top:0;left:0;width:100%;
	height:100%;
	display:-ms-flexbox;
	display:flex
}
.ekko-lightbox-nav-overlay a{
	-ms-flex:1;
	flex:1;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-align:center;
	align-items:center;
	opacity:0;
	transition:opacity .5s;
	color:#fff;
	font-size:30px;
	z-index:1
}
